%p#notice= notice

%p
  %b Email:
  = @member.email
%p
  %b Visits:
  = @member.visits
%p
  %b Name full:
  = @member.name_full

= link_to 'Edit', edit_member_path(@member)
\|
= link_to 'Back', members_path
